body {
    
    font: 1.1em Arial, Helvetica, sans-serif;
  }
  
  img {
    max-width: 100%;
    display: block;
  }
  
  figure {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 10px;
    break-inside: avoid;
  }
  
  figure > img {
    grid-row: 1 / -1;
    grid-column: 1;
  }
  
  figure a {
    color: black;
    text-decoration: none;
  }
  
  caption {
    grid-row: 2;
    grid-column: 1;
    background-color: rgba(255,255,255,.5);
    padding: .2em .5em;
    justify-self: start;
  }
  
  .container {
    column-count: 4;
    column-gap: 10px;
  }

.header {
    width: 100%;
    height: 90px;
    font-size: large;
    text-align: right;
    align-content: flex-end;
    display: block;
    background: grey;
}

p {
align-content: stretch;
text-align: justify;
display:inline-flex;
background-color: beige;
}


.footer {
    width: 100%;
    height: 90px;
    text-align: right;
    align-content: flex-end;
    display: block;
    background: grey;    
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }

  
